@font-face {
  font-family: 'PTRootUI';
  src: url("../fonts/PTRootUI/Ptrootui.woff"),
      url("../fonts/PTRootUI/Ptrootui.woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'PTRootUI';
  src: url("../fonts/PTRootUI/Ptrootuibold.woff"),
    url("../fonts/PTRootUI/Ptrootuibold.woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'PTRootUI';
  src: url("../fonts/PTRootUI/Ptrootuimedium.woff"),
    url("../fonts/PTRootUI/Ptrootuimedium.woff2");
  font-weight: 600;
}
